# Notatnik tworzący bazę danych z wykorzystaniem sqlalchemy:

## Import Bibliotek:

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,Float, Date, ForeignKey, VARCHAR, Text

## Połaczenie z lokalną bazą danych "airbnb_lab12"

In [2]:
db_string = "postgresql+psycopg2://postgres:admin@localhost:5432/airbnb_lab12"
engine = create_engine(db_string)
Base = declarative_base()

## Tworzenie klas odopowiadających poszczególnym tabelom:

In [3]:
class Users(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(VARCHAR)

    def __repr__(self):
        return "<users(id='{0}', email={1})>".format(self.id, self.email)


class Hosts(Base):
    __tablename__ = 'hosts'
    id = Column(Integer,primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(self.id, self.user_id)


class Bookings(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date)
    end_date = Column(Date)
    price_per_night = Column(Float)
    num_nights = Column(Integer)

    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date={3}, end_date={4},price_per_night={5})>".format(self.id, 
        self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)

class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(Integer)
    review_body = Column(Text)

    def __repr__(self):
        return "<reviews(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(self.id, self.booking_id,
        self.rating, self.review_body)


class Countries(Base):
    __tablename__ = "countries"
    id = Column(Integer, primary_key=True)
    country_code = Column(VARCHAR)
    name = Column(VARCHAR)

    def __repr__(self):
        return "<countries(id='{0}', country_code={1}, name={2})>".format(self.id, self.country_code, self.name)

class Cities(Base):
    __tablename__ = "cities"
    id = Column(Integer, primary_key=True)
    name = Column(VARCHAR)
    country_id = Column(Integer, ForeignKey('countries.id'))

    def __repr__(self):
        return "<cities(id='{0}', name={1}, country_id={2})>".format(self.id, self.name, self.country_id)


class Places(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(VARCHAR)
    city_id = Column(Integer, ForeignKey('cities.id'))

    def __repr__(self):
        return "<places(id='{0}', host_id={1}, country_id={2}, city_id={3})>".format(self.id, self.host_id, self.address,
        self.city_id)

## Wywołanie skrytpu do stworzenia tabel:

In [4]:
Base.metadata.create_all(engine)